<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nano_science.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/intro"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatViewActivity"></activity>
        <activity android:name=".SearchBusActivity" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".MissionActivity" />
        <activity android:name=".VisionActivity" />
        <activity android:name=".AboutBusActivity" />
        <activity android:name=".AboutUsIntActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>